@charset "UTF-8";

.introduction{
	margin-left: 30px;
	
}

#skill{
	margin-right: 100px;
	float:left;
}

table{
	border: 1px solid;
	text-align: center;
	border-collapse: collapse;
}
th {
	border: 1px solid;
	font-size: 20px;
	font-weight: bold;
}
td{
	border: 1px solid;
}